<div class="container">
    <form>
      <div class="ui-g-12">
        <div class="ui-g-12 ui-fuild">
           <h2>Nova Pessoa</h2>
        </div>
        <div class="ui-g-12 ui-fluid">
          <div class="ui-g-12">
            <label>Nome</label>
            <input pInputText type="text">
        </div>
        </div>
        <div class="ui-g-12 ui-fluid">
          <div class="ui-g-8  ui-sm-12">
            <label>Logradouro</label>
            <input type="text"pInputText>
          </div>
          <div class="ui-g-4 ui-sm-12 ui-fluid">
            <label>Número</label>
            <input type="text" pInputText>
          </div>
        </div>
        <div class="ui-g-12 ui-fluid">
          <div class="ui-g-4 ui-sm-12">
            <label>Complemento</label>
            <input type="text" pInputText>
          </div>
          <div class="ui-g-4 ui-sm-12 ui-fluid">
            <label>Bairro</label>
            <input type="text" pInputText>
          </div>
          <div class="ui-g-4 ui-sm-12 ui-fluid">
            <label>CEP</label>
            <input type="text" pInputText>
          </div>
        </div>
        <div class="ui-g-12 ui-fluid">
          <div class="ui-g-6 ui-sm-12 ui-fluid">
            <label>Cidade</label>
            <input type="text" pInputText>
          </div>
          <div class="ui-g-6 ui-sm-12 ui-fluid">
            <label>Estado</label>
            <input type="text" pInputText>
          </div>
        </div>
        <div class="ui-g-12">
          <p-button type="submit" label="Salvar" styleClass="ui-button-success" icon="fa fa-save"></p-button>
          <p-button type="submit" label="Novo" styleClass="ui-button-info" icon="fa fa-plus-square-o" iconPos="left"></p-button>
          <p-button type="submit" label="Pesquisa" styleClass="ui-button-secondary" icon="fa fa-list" iconPos="left"></p-button>
        </div>
      </div>



    </form>

</div>
